@{
    ViewData["Title"] = "Main_Screen";
}

<br>
<br />

<div class="text-center">
    <h4>Hola, esta es nuestra aplicación</h4>
</div>

<body background="https://i.ibb.co/crTyn9M/Mensajer-a.jpg">
</body>