@using System.Text.Json;
@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Main_Screen";
    User user = JsonSerializer.Deserialize<User>(Context.Session.GetString("thisUser"));
}

<br>
<br />

<div class="text-center">
    <h4>Hola, @user.UserName esta es nuestra aplicación </h4>
</div>

@*<body background="https://images8.alphacoders.com/848/thumb-1920-848775.jpg">
</body>*@