@using System.Text.Json;
@using Microsoft.AspNetCore.Http;
@using Design.Models;
@{
    ViewData["Title"] = "Main_Screen";
    User user = JsonSerializer.Deserialize<User>(Context.Session.GetString("thisUser"));
}

<br>
<br />

<div class="text-center">
    <h4>Hello, @user.UserName, you are in your private chat </h4>
</div>

<div class="text-center">

    <form asp-action="SendMessage" asp-controller="User">

        <div class="form-group">
            <select name="ListUsers" class="form-control">

                @foreach (var item in ViewBag.AllUsers)
                {
                    <option value="@item">@item</option>
                }
            </select>
        </div>

        <br>
        <br />

        <h6>
            <input type="text" name="Message" placeholder="Write a message..." />
            <input type="image" value="Send Message" src="~/Imágenes/Flecha.png" class="btn-outline-success " />
        </h6>

    </form>

</div>

<input type="image" value="Send Message" src="~/Imágenes/Flecha.png" class="btn-outline-warning "/>

<body style="        font-family: 'Eras ITC';
        background-image: url('../Imágenes/Mensajes.jpg');">
</body>


