@{
    ViewData["Title"] = "Privacy Policy";
}

<br>
<br />

<font color="white">

    <div class="text-center">

        <h3>Application created by: Joshy & Pcuevas_2026</h3>

    </div>
</font>

<body background="https://estaticos.muyinteresante.es/media/cache/1140x_thumb/uploads/images/gallery/5a659c6f5bafe8074be92846/gatito-blanco-negro_0.jpg"></body>